@use "../abstracts/" as *;
@use "sass:color";

.button {
    display: inline-block;
    border: 0.125rem solid currentColor;             //0.125rem entspricht 2px 
    text-decoration: none;
    padding: 1rem 6rem;
    border-radius: 10000rem;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        color: color.scale($color-primary, $lightness: 20%);
    }

    &--white {
        color: white;
        text-shadow: 0 0 0.125rem rgba(0,0,0,0.5);
        box-shadow: 0 0 0.125rem rgba(0,0,0,0.5);

        &:hover {
            color: rgb(230,230,230);
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: white;
        border: 0.125rem solid $color-secondary; 
        
        &:hover {
            color: white;
            background-color: $color-secondary-dark;
            border: 0.125rem solid $color-secondary-dark; 
        }
    }

    &--slim {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &--background-blur {
        -webkit-backdrop-filter: blur(3rem);
        backdrop-filter: blur(3rem);
    }

    &--form {
        font-size: 1rem;
        padding: 0.75rem 1rem;
        color: black;
        background-color: $color-primary;
        border: 0.125rem solid $color-primary;
        font-weight: normal;
        text-transform: none;

        &:hover {
            color: rgb(50,50,50);
        }
    }
}