.icon {
    fill: currentColor;
    /*Farbe vom Elternelement übernommen*/
    height: 1em;
    width: 1em;     //damit man keine Viewbox mehr direkt festlegen muss auf das SVG
    vertical-align: middle;

    &:not(.icon--no-position) {
    position: relative;
    top: -0.075em;
    }
}