@use "sass:color";
@use "../abstracts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Jost', sans-serif;

    @media (min-width: 100em) {             //Browserfenster min. 1600px breit
        font-size: 133%;                    //font-size in HTML steuert alle rem-Angaben in Child --> wird alles reingezoomt
    }

    @media (min-width: 133em) {
        font-size: 166%;
    }

    @media (min-width: 166em) {
        font-size: 200%;
    }

    @media (max-width:$breakpoint-xxs) {
        font-size: 75%;
    }
}

input,
select {
    font-family: inherit;
}           //damit Eingabeschrift gleich der Website ist

@mixin -generate-selection() {
    color: white;
    background-color: color.scale($color-secondary, $alpha: -20%);
}

::selection {
    @include -generate-selection();
}

::-moz-selection {
    @include -generate-selection();
}