@use "../../abstracts/" as *;
@use "sass:math";
@use "sass:color";


.container {
    @include make-container;
}

.about {
    background-color: $color-secondary-dark;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__text {
        color: white;
    }

    &__image {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        border-radius: 1000rem;
        float: left;
    }
}