@use "../../abstracts/" as *;
@use "sass:math";
@use "sass:color";

$-offers-card-border-width: math.div(1rem, 16);
$-half-pixel-width: math.div(1rem, 32);
$-offers-card-border-color: rgba(0,0,0,0.15);
$-offers-card-margin: 0.66rem;
$-offers-card-width: math.div(100%, 3);

%offers__content-info-column {
    flex: 1 1 50%;
    color: $color-secondary;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    @include make-container();
}

.offers {
    background-color: #eff1ee;
    min-height: 5rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-left: - $-offers-card-margin;
        margin-right: - $-offers-card-margin;
        margin-top:-($-offers-card-margin * 2);
    }

    &__card {
        width: calc(#{$-offers-card-width} - #{($-offers-card-margin * 2 + 0.001rem)});        //genaue Breite mit Abzug Margin für Bereich
        margin: ($-offers-card-margin * 2) $-offers-card-margin 0 $-offers-card-margin;
        background-color: white;
        padding-bottom: 2rem;
        box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.15);
        border-left: $-offers-card-border-width solid $-offers-card-border-color;
        border-right: $-offers-card-border-width solid $-offers-card-border-color;
        border-top: $-offers-card-border-width solid $-offers-card-border-color;

        position: relative;

        @media (max-width: $breakpoint-md) {
            $-width-md: math.div(100%, 2);
            width: calc(#{$-width-md} - #{($-offers-card-margin * 2 + 0.001rem)}); 
        }

        @media (max-width: $breakpoint-sm) {
            $-width-am: math.div(100%, 2);
            width: calc(100% - #{($-offers-card-margin * 2 + 0.001rem)}); 
        }

        &::after {
            content:"";
            display: block;
            position: absolute;
            bottom: 0;
            left: - $-offers-card-border-width;
            right: - $-offers-card-border-width;
            height: 0.75rem;
            background-color: $color-primary;
            border-left: $-offers-card-border-width solid color.scale($color-primary, $saturation: -50%,$lightness: 25%);
            border-right: $-offers-card-border-width solid color.scale($color-primary, $saturation: -50%, $lightness: 25%);
        }

        &-hover {
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -#{$-offers-card-border-width};
            left: -#{$-offers-card-border-width};
            right: -#{$-offers-card-border-width};
            bottom: -#{$-offers-card-border-width};                  //div geht jetzt über gesamte card größe durch 0 0 0 0 
            background-color: $color-primary;
            background-image: linear-gradient(90deg, 
                transparent calc(50% - #{$-half-pixel-width}),
                white calc(50% - #{$-half-pixel-width}),
                white calc(50% + #{$-half-pixel-width}),
                transparent calc(50% + #{$-half-pixel-width})
            ), linear-gradient(135deg,
                $color-primary 0%,
                color.scale($color-primary, $lightness: -20%) 100%
            );
            background-repeat: no-repeat, no-repeat;
            background-position: center top, center center;
            background-size: 100% calc( 50% - 4rem), 100% 100%;
            z-index: 2;

            transition: opacity 0.25s ease-in-out;

            .offers__card:hover & {
                opacity: 100%;
            }
        }
    }

    &__image-container {
        position: relative;
        background-color: $color-primary;
        margin: -#{$-offers-card-border-width} -#{$-offers-card-border-width} 0 -#{$-offers-card-border-width};

        &::before {
            content: "";
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
            border-top: $-offers-card-border-width solid $-offers-card-border-color;
            border-right: $-offers-card-border-width solid $-offers-card-border-color;
            border-left: $-offers-card-border-width solid $-offers-card-border-color;
        }

        &::after {
            content: "";
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;
            height: 4rem;
            background-image: linear-gradient(-#{$slope-incline}, white 49.5%, transparent 50.5%);
            background-repeat: no-repeat;
            background-position: center 100%;

            @media (max-width: $breakpoint-sm) {
                height: 5rem;
            }
        }
    }

    &__image {
        width: 100%;
        filter: grayscale(100);
        mix-blend-mode: multiply;
    }

    &__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &-heading {
            color: $color-secondary;
            font-size: 1.75rem;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-subheading {
            color: $color-primary;
            font-size: 1rem;
        }

        &-info {
            margin-top: 1rem;
            border-top: 1px solid rgba(0,0,0,0.15);
            border-bottom: 1px solid rgba(0,0,0,0.15); 
            display: flex;

            /*Strich in der Mitte der Box*/    
            background-image: linear-gradient(90deg, 
                transparent calc(50% - #{$-half-pixel-width}),
                rgba(0,0,0,0.15) calc(50% - #{$-half-pixel-width}),
                rgba(0,0,0,0.15) calc(50% + #{$-half-pixel-width}),
                transparent calc(50% + #{$-half-pixel-width})
            );
            background-repeat: no-repeat;
            background-size: 100% 75%;
            background-position: center center;

            &-duration {
                @extend %offers__content-info-column;

                &-text {
                    padding-left: 0.25rem;                             //für inline links und rechts erlaubt
                }
            }

            &-level {
                @extend %offers__content-info-column;
            }
        }

        &-price {
            display: block;
            color: $color-primary;
            font-weight: 500;
            font-size: 2rem;
            line-height: 0.9em;                             //damit Größe relativ zur Schriftgröße des gleichen Elements ist
        }

        &-price-container {
            color: $color-secondary;
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
}



