@use "../../abstracts/" as *;
@use "sass:math";
@use "sass:color";

$-offers-card-border-width: math.div(1rem, 16);
$-offers-card-border-color: rgba(0,0,0,0.15);
$-offers-card-margin: 0.66rem;

.container {
    @include make-container();
}

.offers {
    background-color: #eff1ee;
    min-height: 5rem;

    &__container {
        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-left: - $-offers-card-margin;
        margin-right: - $-offers-card-margin;
    }

    &__card {
        flex: 1 0 0px;              //da flex-grow auf 1, werden alle Elemente mit dieser Klasse gleich groß angezeigt
        margin: 0 $-offers-card-margin;
        background-color: white;
        padding-bottom: 1.5rem;
        box-shadow: 0.5rem 0.5rem 2rem black;
        border-left: $-offers-card-border-width solid $-offers-card-border-color;
        border-right: $-offers-card-border-width solid $-offers-card-border-color;
        border-top: $-offers-card-border-width solid $-offers-card-border-color;

        position: relative;

        &::after {
            content:"";
            display: block;
            position: absolute;
            bottom: 0;
            left: - $-offers-card-border-width;
            right: - $-offers-card-border-width;
            height: 0.75rem;
            background-color: $color-primary;
            border-left: $-offers-card-border-width solid color.scale($color-primary, $saturation: -50%,$lightness: 25%);
            border-right: $-offers-card-border-width solid color.scale($color-primary, $saturation: -50%, $lightness: 25%);
        }
    }

    &__image-container {
        position: relative;
        background-color: $color-primary;
        margin: -#{$-offers-card-border-width} -#{$-offers-card-border-width} 0 -#{$-offers-card-border-width};

        &::before {
            content: "";
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
            border-top: $-offers-card-border-width solid $-offers-card-border-color;
            border-right: $-offers-card-border-width solid $-offers-card-border-color;
            border-left: $-offers-card-border-width solid $-offers-card-border-color;
        }

        &::after {
            content: "";
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;
            height: 4rem;
            background-image: linear-gradient(-#{$slope-incline}, white 49.5%, transparent 50.5%);
            background-repeat: no-repeat;
            background-position: center 100%;
        }
    }

    &__image {
        width: 100%;
        filter: grayscale(100);
        mix-blend-mode: multiply;
    }
}